@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

body {
    background-color: aliceblue;
}

#clock {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    background-image: url(clock.png);
    background-size: contain;
}

#seconds {
    position: absolute;
    top: 10%;
    width: 1%;
    height: 45%;
    background-color: red;
    margin-left: 198px;
    margin-top: 20px;
    z-index: 3;
    transform-origin: 50% 80%;
    animation: rotate 60s infinite linear;
}

#minutes {
    position: absolute;
    top: 8%;
    width: 2%;
    height: 40%;
    background-color: black;
    margin-left: 198px;
    margin-top: 20px;
    z-index: 2;
    transform-origin: 50% 100%;
    animation: rotate 3600s infinite linear;
}

#hours {
    position: absolute;
    top: 13%;
    width: 2.5%;
    height: 20%;
    background-color: black;
    margin-left: 196px;
    margin-top: 80px;
    z-index: 1;
    transform-origin: 50% 100%;
    animation: rotate 43200s infinite linear;
}